*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}



/* Header */
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: rgba(5, 70, 155, 0.6);
    overflow: hidden;
}


.header .logo{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    border: #ffffff 2px solid;
    background-color: #03294d;
}

.header .logo:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(228, 222, 222, 0.3);
    background-color: rgba(29, 41, 44 0.8) ;
}

.header .nav{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    gap: 30px;
    position: sticky;
    
} 

.header .nav li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
    display: block;
    position: sticky;
}

.header .nav li a:hover{
    color: blue;
    transform: scale(1.3);
    font-size: 20px;
    background-color: rgba(255, 253, 253, 0.1);
}





/* Home page */

.home_page{
    margin-top: -8%;
    width: 100%;
    height: 108vh;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,1)), url('logo_back/Srimp_on_hand_2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    overflow-y: auto;
    z-index: 1;
}




/* Banner section styling */

.banner{
    position: relative;
    width: 50%;
    height: 80vh;
    display: block;
    justify-content: left;
    align-items: left;
    text-align: justify;
    color: #ffffff;
    z-index: 1;
    top: 5%;
    background: rgba(26, 44, 68, 0.6);
    padding: 40px;
    border-radius: 10px;
    margin-left: 50px;
}

.banner h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.banner p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.banner .btn{
    display: inline-block;
    padding: 12px 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: #1b3b5e 4px solid;
    text-decoration: none;
    transition: all 0.3s ease;
}

.banner .btn:hover{
    background-color: #0056b3;
    transform: scale(1.2);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Our Service section styling */

.our_sevices{
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 100px 50px;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    z-index: 1;
}
.services_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.services_list .service_item{
    background: rgba(33, 65, 105, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 450px;
    transition: all 0.3s ease;
}

.services_list .service_item:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background: rgba(33, 65, 105, 0.8);
}

.services_list .service_item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.our_sevices h1{
    font-size: 36px;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.our_sevices p{
    font-size: 24px;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 20px;
}

.our_sevices .service_item h2{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.our_sevices .service_item p{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.4;
}

.our_sevices .service_item .btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: #1b3b5e 4px solid;
    text-decoration: none;
    transition: all 0.3s ease;

}

.our_sevices .service_item .btn:hover{
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* contact styling */


.contact_us{
    position: relative;
    width: 100%;
    min-height: 30vh;
    padding: 100px 50px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 120px;
    z-index: 1;
}

.contact_us h1{
    font-size: 36px;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.contact_us p{
    font-size: 24px;
    color: #000000;
    text-align: justify;
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
}

.contact_us .btn{
    display: inline-block;
    padding: 12px 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: #1b3b5e 4px solid;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-left: 45%;
    
}

.contact_us .btn:hover{
    background-color: #0056b3;
    transform: scale(1.2);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* About us styling */

.about_us{
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 100px 50px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 120px;
    z-index: 1;
}


.about_us h1{
    font-size: 36px;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.about_us p{
    font-size: 24px;
    color: #000000;
    text-align: justify;
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
}




